@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600&display=swap');

:root {
    --magenta-fuchsia-50: #ffffff;
    --magenta-fuchsia-100: #ffe3fe;
    --magenta-fuchsia-200: #ffc6fd;
    --magenta-fuchsia-300: #ff99f6;
    --magenta-fuchsia-400: #ff5def;
    --magenta-fuchsia-500: #ff21f2;
    --magenta-fuchsia-600: #ff00ff;
    --magenta-fuchsia-700: #cf00ca;
    --magenta-fuchsia-800: #a900a3;
    --magenta-fuchsia-900: #890682;
    --magenta-fuchsia-950: #5e005a;
}

* {
    padding: 0;
    margin: 0; 
    font-family: 'Onest', sans-serif;
    position: relative;
}

body {
    padding-bottom: 80px;
}


header{
    height: 250px;
    background-color: var(--magenta-fuchsia-400);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img{
    height: 100px;
    width: 280px;
    margin-top: 20px;
}

div.menu {
    background-color: #cf00ca;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    font-size: 1.5rem;
    height: 80px;
    width: 80px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--magenta-fuchsia-50);
    transform: rotate(67deg);
    opacity: 0.8;
}

div.menu div {
    position: absolute;
    right: 25px;
    top: 17px;
    left: 25px;
    transform: rotate(-67deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.searchbar{
    position: relative;
}

div.searchbar svg  {
    position: absolute;
    top: 30px;
    left: 5px;
}

input[type="search"]{
    background-color: var(--magenta-fuchsia-50);
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 20px;
    height: 45px;
    width: 250px;
    margin: 20px 0;
    text-align: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
     display: none; 
}

div.products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

div.productsExample {
    position: relative;
    border-radius: 15px;
    padding: 0 20px 20px 20px;
}

div.productsExample img {
    width: 335px;
    border-radius: 25px;
}

div.title{
    position: absolute;
    right: 30px;
    bottom: 110px;
    text-transform: uppercase;
    color: var(--magenta-fuchsia-50);
    font-weight: 800;
}

button.seeAll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 26px;
    right: 20px;
    background-color: var(--magenta-fuchsia-400);
    width: 120px;
    height: 50px;
    border-radius: 25px 0 25px 0 ;
    border: none;
}

button:hover {
    background: var(--magenta-fuchsia-800);
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;

}

a:visited {
    color: var(--magenta-fuchsia-50);
}

.productsExample span {
    font-size: 2rem;
}

div.dock {
    position: fixed;
    background-color: var(--magenta-fuchsia-600);
    width: 80%;
    height: 70px;
    bottom: 20px;
    right: 25%;
    left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
}

div.dock svg {
    height: 30px;
    width: 30px;
    color: var(--magenta-fuchsia-50);
}

nav, section, footer{
    display: none;
}

@media only screen and (min-width: 700px)  {

    body {
        padding-bottom: 0px;
    }

    div.menu{
        background-color: #cf00ca;
        top: 0;
        right: 140px;
        position: fixed;
        font-size: 1.5rem;
        height: 50px;
        width: 136px;
        border-radius: 0px 0 22px 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: var(--magenta-fuchsia-50);
        transform: rotate(0deg);
        box-shadow: 0 0 10px gray;
        opacity: 1;
    }

    div.menu div {
        position: absolute;
        right: 25px;
        top: 10px;
        left: 25px;
        transform: rotate(0deg);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    div.searchbar{
        position: relative;
    }
    
    div.searchbar svg  {
        position: absolute;
        top: 30px;
        left: 10px;
    }

    nav {
        display: block;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        background-color: var(--magenta-fuchsia-600);
    }

    nav a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
    }
    
    nav a:hover:after{
        transform-origin: left;
        transform: scaleX(1); 
    }
    
    section{
        display: block;
        position: relative;
        height: 400px;
        width: 100%;
        background-image: url(Assests/textureBackground.jpg);
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    section div{
        position: absolute;
        right: 80px;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    section p {
        font-size: 2.3rem;
        line-height: 1.2;
        width: 15ch;
        text-align: end;
        text-transform: uppercase;
        font-weight: 900;
        color: var(--magenta-fuchsia-50);
    }

    section button {
        font-size: 26px;
        width: 220px;
        height: 80px;
        border-radius: 20px 0 20px 0;
        border: none;
        color: var(--magenta-fuchsia-50);
        background-color: var(--magenta-fuchsia-400);
    }

    div.categories {
        display: grid;
        grid-template-columns: repeat(2, minmax(335px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }

    footer {
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: var(--magenta-fuchsia-700);
    }

    footer p {
        color: var(--magenta-fuchsia-50);

    }

    .dock{
        display: none !important;
    }

    input[type="search"]{
        background-color: var(--magenta-fuchsia-50);
        border: none;
        outline: none;
        font-size: 1rem;
        border-radius: 20px;
        height: 45px;
        width: 320px;
        margin: 20px 0;
        text-align: center;
        box-shadow: 0 0 10px gray;
    }

    a {
        color: var(--magenta-fuchsia-50);
    }

    button:hover {
        background: var(--magenta-fuchsia-800);
    }

}